---
title: Ramsay
description:
layout: ramsay
classes:
scripts:
  slides: false
  jump: false
sitemap: false
---

<hr class="divider" />

<h2 class="styleguide-key">Highest Level Headings</h2>
<div class="styleguide-value">
	<h1 class="alpha">Highest Level Headings</h1>
</div>

<hr class="divider" />

<h2 class="styleguide-key">Section Headings &amp; Chapter Headlines</h2>
<div class="styleguide-value">
	<h2 class="beta">Section Headings</h2>
</div>

<hr class="divider" />

<h2 class="styleguide-key">Sub Section Headings</h2>
<div class="styleguide-value">
	<h3 class="gamma">Sub Section Headings</h3>
</div>

<hr class="divider" />

<h2 class="styleguide-key">Listed Headings</h2>
<div class="styleguide-value">
	<h4 class="delta">Listed Headings</h4>
</div>

<hr class="divider" />

<h2 class="styleguide-key">Prehead</h2>
<div class="styleguide-value">
	<h5 class="epsilon">Prehead</h5>
</div>

<hr class="divider" />

<h2 class="styleguide-key">Details</h2>
<div class="styleguide-value">
	<h6 class="zeta">Details</h6>
</div>

<hr class="divider" />

<h2 class="styleguide-key">Copy Text</h2>
<div class="styleguide-value">
	<p>Kidneys! I have kidneys. And I don&rsquo;t like the colour.</p>
	<ul>
	    <li>My ship&hellip;my TARDIS&hellip; Reverse the polarity of&hellip; Would you like a jelly baby?</li>
	    <li>We&rsquo;re fallin&rsquo; through space, you and me, clinging to the skin of this tiny little world, and if we let go&hellip;</li>
	    <li>Doctor no more.</li>
	    <li>This stuff, or whoever sent it, is cleverer than we are.</li>
	    <li>Unfortunate, isn&rsquo;t it? Grace, I came back to life before your eyes. I held back death. Look, I can&rsquo;t make your dream come true forever, but I can make it come true today.</li>
	    <li>Excuse me, do you mind not farting while I&rsquo;m saving the world?</li>
	</ul>
</div>

<hr class="divider" />

<h2 class="styleguide-key">Inline Link</h2>
<div class="styleguide-value">
	<a href="#">Inline Link</a>
</div>

<hr class="divider" />

<h2 class="styleguide-key">CTA Small</h2>
<div class="styleguide-value">
	<a class="cta-small" href="#">CTA Small</a>
</div>

<hr class="divider" />

<h2 class="styleguide-key">CTA Big</h2>
<div class="styleguide-value">
	<a class="cta-big" href="#">CTA Big</a>
</div>

<hr class="divider" />

<h2 class="styleguide-key">Combination 1</h2>
<div class="styleguide-value">
	<h5 class="epsilon">How It Works</h5>
	<h2 class="beta">The images your viewers want to see, automatically.</h2>
	<p>Our smart, science-based approach to understanding images can predict how your images will perform.</p>
	<a class="cta-small" href="#">Discover Now</a>
</div>

<hr class="divider" />

<h2 class="styleguide-key">Chapter Headlines with Copy</h2>
<div class="styleguide-value">
	<h5 class="epsilon">2005</h5>
	<h4 class="delta">Nokia 7650 brings camera phones mainstream success.</h4>
	<p>and releases an Internet enabled phone to the mass</p>
</div>

<hr class="divider" />

<h2 class="styleguide-key">Chapter Headlines No Copy</h2>
<div class="styleguide-value">
	<h5 class="epsilon">1985</h5>
	<h3 class="gamma">AOL founded, allowing Internet users to play games, share photos and watch videos.</h3>
</div>

<hr class="divider" />

<h2 class="styleguide-key">Callout</h2>
<div class="styleguide-value">
	<aside class="callout">
		<h5 class="callout-key">19XX</h5>
		<h3 class="callout-value">3 billion photos taken each year</h3>
		<hr class="callout-line" />
	</aside>
</div>

<hr class="divider" />

<h2 class="styleguide-key" id="sub-nav">Sub Nav</h2>
<div class="styleguide-value">
	<nav class="sub-nav is-closed js-sub-nav">
		<h6 class="sub-nav-key js-sub-nav-key"><strong class="sub-nav-key-title">About</strong> <small class="sub-nav-key-additional" id="js-sub-nav-key-additional">Mission, Vision, Values</small></h6>
		<div class="sub-nav-tada">
			<div class="sub-nav-value js-sub-nav-value is-selected"><a class="sub-nav-anchor" href="#">Mission, Vision, Values</a></div>
			<div class="sub-nav-value js-sub-nav-value"><a class="sub-nav-anchor" href="#">Company History</a></div>
			<div class="sub-nav-value js-sub-nav-value"><a class="sub-nav-anchor" href="#">Academic Institution Lineage</a></div>
			<div class="sub-nav-value js-sub-nav-value"><a class="sub-nav-anchor" href="#">Neon&rsquo;s Growth</a></div>
			<div class="sub-nav-value js-sub-nav-value"><a class="sub-nav-anchor" href="#">Awards + Patents</a></div>
			<div class="sub-nav-value js-sub-nav-value"><a class="sub-nav-anchor" href="#">Investors</a></div>
	</nav>
</div>

<hr class="divider" />

<div class="styleguide-key">Blockquote</div>
<div class="styleguide-value">
    <blockquote class="happy-quote">
        <q class="happy-words">The worst quote ever</q>
        <footer class="happy-source"><cite>Ted Anderson / King of the World</cite></footer>
    </blockquote>
    <blockquote class="happy-quote -quote">
        <q class="happy-words">The second worst quote ever</q>
        <footer class="happy-source"><cite>Ed Henderson / Queen of the World</cite></footer>
    </blockquote>
</div>

<hr class="divider" />

<h2 class="styleguide-key" id="primary-nav">Primary Navigation</h2>
<div class="styleguide-value">
	<%= partial "partials/ramsay/nav.primary" %>
</div>

<hr class="divider" />

<h2 class="styleguide-key">Mark</h2>
<div class="styleguide-value">
	<%= partial "partials/ramsay/mark" %>
</div>

<hr class="divider" />

<h2 class="styleguide-key">Tertiary Nav</h2>
<div class="styleguide-value">
	<dl class="tertiary-nav">
		<dt class="tertiary-nav-key">Heading 1</dt>
			<dd class="tertiary-nav-value"><a class="tertiary-nav-anchor" href="#">Item 1</a></dd>
			<dd class="tertiary-nav-value"><a class="tertiary-nav-anchor" href="#">Item 2</a></dd>
			<dd class="tertiary-nav-value"><a class="tertiary-nav-anchor" href="#">Item 3</a></dd>
			<dd class="tertiary-nav-value">Item 4</dd>
			<dd class="tertiary-nav-value"><a class="tertiary-nav-anchor" href="#">Item 5</a></dd>
			<dd class="tertiary-nav-value"><a class="tertiary-nav-anchor" href="#">Item 6</a></dd>
	</dl>
</div>

<hr class="divider" />

<h2 class="styleguide-key">Newsletter</h2>
<%= partial "partials/newsletter" %>

<hr class="divider" />

<h2 class="styleguide-key">Copyright</h2>
<div class="styleguide-value">
	<small class="copyright"><%= partial "partials/copyright" %></small>
</div>

<hr class="divider" />

<h2 class="styleguide-key">Site Footer</h2>
<%= partial "partials/ramsay.site.footer" %>

<hr class="divider" />
