!!! 5
%html{:lang => "en"}
  %head
    %meta{:content => "on", "http-equiv" => "cleartype"}
    %link{:href => "/stylesheets/style.css", :rel => "stylesheet"}
    = render_partial '/partials/site.head'
    %body{:class => 'page ' + current_page.data.classes }
      = render_partial '/partials/scripts.middle'
      = render_partial '/partials/site.header'
      = yield
      = render_partial '/partials/footer'
      = render_partial '/partials/scripts.bottom'
      