!!! 5
%html{:lang => "en"}
  %head
    %meta{ :content => 'on', 'http-equiv' => 'cleartype' }
    %meta{ :content => partial('partials/copyright'), 'name' => 'copyright' }
    %meta{ :charset => 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge' }
    %meta{ :name => 'description', :content => current_page.data.description }
    %meta{ :name => 'google-site-verification', :content => data.config.google_site_verification }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' }

    = partial 'partials/favicons'

    - if current_page.data.home
      %title Neon | Find your best images
    - else
      %title #{current_page.data.title} | Neon

    = partial 'partials/scripts.top'

    = stylesheet_link_tag "style"

  %body
    = render_partial '/partials/scripts.middle'
    = render_partial '/partials/navigation'
    = yield
    = render_partial '/partials/footer'
    = render_partial '/partials/scripts.bottom'
