<!doctype html>
<html lang="en">
	<head>
		<%= partial "partials/site.head" %>
		<%= stylesheet_link_tag "noble/noble" %>
	</head>
    <body class="page <%= current_page.data.classes %>">
    	<%= partial "partials/scripts.middle" %>
    	<%= partial "partials/site.header" %>
    	<main class="meat" role="main">
    		<%= yield %>
    	</main>
    	<% if current_page.data.hide_footer != true %>
    		<%= partial "partials/site.footer" %>
    	<% end %>
    	<%= partial "partials/scripts.bottom" %>
    </body>
</html>
