%footer
  .footer__wrapper
    .footer__flex-content
      .footer__nav-block
        %ul.sub-nav
          %li.sub-nav__title
            Company
          %li.sub-nav__item
            = link_to 'About', '/about'
          %li.sub-nav__item
            = link_to 'Jobs', '/jobs'
          %li.sub-nav__item
            = link_to 'Contact', '/contact'

      .footer__nav-block
        %ul.sub-nav
          %li.sub-nav__title
            Resources
          %li.sub-nav__item
            = link_to 'Terms of Service', '/terms-of-service'

      .footer__nav-block
        %ul.sub-nav
          %li.sub-nav__title
            Social
          %li.sub-nav__item
            = link_to 'Twitter', 'https://www.twitter.com/neonlab'
          %li.sub-nav__item
            = link_to 'Facebook', 'https://www.facebook.com/neonthumbnails'
          %li.sub-nav__item
            = link_to 'Medium', 'https://medium.com/neon-blog'
          %li.sub-nav__item
            = link_to 'LinkedIn', 'https://www.linkedin.com/company/neon-lab'

      .footer__nav-block
        %ul.sub-nav
          %li.sub-nav__title--long
            Subscribe to our newsletter!
          %li.sub-nav__item
            %form.inline-submit
              %input{:type => 'email', :placeholder => 'Your email address'}
              %input{:type => 'submit', :value => "Go"}

          = yield_content :footer
