%header
  .l-constrained
    %nav.flex-nav
      %ul
        %li.flex-nav__item--logo
          = image_tag('images/navigation/logo.svg')
        %li.flex-nav__item
          = link_to 'Products', '/products.html'
        %li.flex-nav__item
          = link_to 'How it Works', ''
        %li.flex-nav__item
          = link_to 'Careers', ''
        %li.flex-nav__item
          = link_to 'Our Story', ''
        %li.flex-nav__item
          = link_to 'About', ''
        %li.flex-nav__item
          = link_to 'Get Started', ''

        = yield_content :stuff
