<%= stylesheet_link_tag "noble/noble" %>
<meta charset="utf-8" />
<meta name="copyright" content="<%= partial "partials/copyright" %>" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="google-site-verification" content="<%= data.config.google_site_verification %>" />
<%= partial "partials/tags" %>
<%= partial "partials/description" %>
<%= partial "partials/favicons" %>
<% if current_page.data.home == true %>
	<title>Neon | <%= data.config.tagline %></title>
<% else %>
	<title><%= current_page.data.title %> | Neon</title>
<% end %>
<%= partial "partials/scripts.top" %>
