---
title: Back End Engineer (Intern) | Jobs
description:
layout: ramsay
classes: jobs
scripts:
  slides: false
  jump: false
sitemap: true
---
<section class="pinch-left pinch-right">
    <header class="page-columns">
        <div class="page-columns__verso">
            <div class="epsilon">San Francisco</div>
            <h1 class="alpha">Back End Engineer (Intern)</h1>
        </div>
    </header>
    <div class="page-columns">
        <div class="page-columns__verso">
            <%= partial "partials/content/jobs/back-to-jobs" %>
        </div>
        <div class="page-columns__recto">

            <h2 class="beta">Description</h2>

            <p>We are looking to hire the best of the best to work on our highly scalable image selection system. As a back end intern you will get a chance to work on a little bit of everything; from fixing bugs to building new features to deploying your latest creations utilizing AWS. You will have a major role in the product, and we are looking for someone who can jump right in and learn the skills to be very productive on the job.</p>
            
            <%= partial "partials/content/jobs/joining-our-team" %>
            
            <h2 class="beta">Requirements</h2>

            <ul>
                <li>Graduate or Undergraduate Student</li>
                <li>Willing to learn new skills</li>
                <li>Ability to develop scalable solutions in a fast paced environment</li>
                <li>Problem Solver</li>
                <li>Great Communicator</li>
                <li>Moderate Programming skills in at least one language</li>
                <li>Comfortable in a Linux Command Line Environment</li>
            </ul>

            <h2 class="beta">Desired Skills</h2>
            
            <ul>
                <li>C/C++ Experience</li>
                <li>Python Experience</li>
                <li>Familiarity with unit testing, continuous integration, and build environments</li>
                <li>Amazon Web Services Experience</li>
            </ul>
            
            <%= partial "partials/content/jobs/about-neon" %>

            <h2 class="beta">Benefits + Perks</h2>
            <%= partial "partials/content/jobs/benefits-and-perks-generic" %>
            
            <%= partial "partials/content/jobs/neon-internship-program" %>

            <h2 class="beta">How to Apply</h2>

            <p>This internship requires at least a 10&ndash;12 week commitment in Summer 2016. Interested? Email <a href="mailto:fenger@neon-lab.com">fenger@neon-lab.com</a> to apply.</p>
            <p>We strongly recommend you include:</p>
            <ol>
                <li>Cover Letter detailing why you are interested in Neon</li>
                <li>A Resume</li>
                <li>Five &mdash; Nine questions you have about Neon or the position</li>
            </ol>

            <hr class="divider" />
            <%= partial "partials/content/jobs/job-openings-logic" %>

        </div>
    </div>
</section>
