%header
  %nav.flex-nav
    %ul
      %li.flex-nav__item--logo
        %img{:src => 'https://s3.amazonaws.com/neon_website_assets/logo.svg'}
      %li.flex-nav__item
        = link_to 'Products', ''
      %li.flex-nav__item
        = link_to 'How it Works', ''
      %li.flex-nav__item
        = link_to 'Careers', ''
      %li.flex-nav__item
        = link_to 'Our Story', ''
      %li.flex-nav__item
        = link_to 'About', ''
      %li.flex-nav__item
        = link_to 'Get Started', ''

      = yield_content :stuff
