---
title: Front End Engineer (Intern) | Jobs
description:
layout: ramsay
tags:
  - front end
  - front-end
  - web developer
  - web designer
  - intern
  - engineering
  - engineer
  - san francisco
  - co-op
classes: jobs
scripts:
  slides: false
  jump: false
sitemap: true
---
<section class="pinch-left pinch-right">
    <header class="page-columns">
        <div class="page-columns__verso">
            <div class="epsilon">San Francisco</div>
            <h1 class="alpha">Front End Engineer (Intern)</h1>
        </div>
    </header>
    <div class="page-columns">
        <div class="page-columns__verso">
            <%= partial "partials/content/jobs/back-to-jobs" %>
        </div>
        <div class="page-columns__recto">

            <img
                sizes="(max-width: 1866px) 100vw, 1866px"
                srcset="
                    /images/jobs/jobs-html-code_d3i5dz_c_scale,w_50.png 50w,
                    /images/jobs/jobs-html-code_d3i5dz_c_scale,w_277.png 277w,
                    /images/jobs/jobs-html-code_d3i5dz_c_scale,w_414.png 414w,
                    /images/jobs/jobs-html-code_d3i5dz_c_scale,w_528.png 528w,
                    /images/jobs/jobs-html-code_d3i5dz_c_scale,w_628.png 628w,
                    /images/jobs/jobs-html-code_d3i5dz_c_scale,w_718.png 718w,
                    /images/jobs/jobs-html-code_d3i5dz_c_scale,w_819.png 819w,
                    /images/jobs/jobs-html-code_d3i5dz_c_scale,w_911.png 911w,
                    /images/jobs/jobs-html-code_d3i5dz_c_scale,w_1866.png 1866w"
                src="/images/jobs/jobs-html-code_d3i5dz_c_scale,w_1866.png"
                alt="Computer screen showing some code"
                title="Screenshot of the HTML code used to build this page"
            />

            <p>We are looking for a smart, talented Engineering Intern to help our rapidly growing business perform and look even better. You&rsquo;ll be right in the middle of things as we design, prototype and build our new web applications &amp; websites. You will also have the opportunity to experience working in a fast, fun, start&ndash;up environment in Silicon Valley, which requires flexibility and continuous innovation. You won&rsquo;t just be an Intern to us&mdash;you will be a full member of the team.</p>

            <%= partial "partials/content/jobs/joining-our-team" %>

            <h2 class="beta">Requirements</h2>

            <ul>
                <li>Build mockups &amp; prototypes.</li>
                <li>Interact with our team members to incorporate their ideas &amp; vice&ndash;versa.</li>
                <li>Help create beautiful, standards&ndash;compliant, responsive, modern web pages &amp; applications.</li>
                <li>Identify &amp; communicate best practices for Front End engineering.</li>
                <li>Produce high&ndash;quality code, test it, collaboratively review it and ship it.</li>
            </ul>

            <h2 class="beta">Desired Skills</h2>

            <ul>
                <li>Expertise with <abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr> &amp; Javascript.</li>
                <li>Working knowledge of <abbr title="Representational State Transfer">REST</abbr> <abbr title="Application Program Interface">API</abbr>s.</li>
                <li>Passion for performance, debugging and quality.</li>
                <li>Education in Computer Science or related area, or relevant work experience.</li>
                <li>Keen eye for design and usability.</li>
                <li>Git, Github.</li>
                <li>Ability to prioritize and handle multiple projects with tight deadlines.</li>
                <li>Sense of humor.</li>
                <li>Good work ethic with a team player attitude.</li>
            </ul>
            
            <h3 class="gamma">Nice to Haves</h3>
            
            <ul class="cols-2">
                <li>Javascript Frameworks.</li>
                <li>Data Visualisation.</li>
                <li><abbr title="Syntactically Awesome Style Sheets">Sass</abbr>, Less.</li>
                <li>JIRA.</li>
                <li>Unit testing.</li>
                <li>Photoshop, Sketch.</li>
                <li>Build environments.</li>
                <li>Amazon Web Services.</li>
                <li>AB Testing, Optimizely, etc.</li>
                <li>Google Analytics.</li>
            </ul>

            <%= partial "partials/content/jobs/about-neon" %>

            <h2 class="beta">Benefits + Perks</h2>
            <%= partial "partials/content/jobs/benefits-and-perks-generic" %>
            
            <%= partial "partials/content/jobs/neon-internship-program" %>

            <h2 class="beta">How to Apply</h2>

            <p>This internship requires at least a 10&ndash;12 week commitment in Summer 2016. Interested? Email <a href="mailto:ed@neon-lab.com">ed@neon-lab.com</a> to apply.</p>
            <p>We strongly recommend you include:</p>
            <ol>
                <li>Cover Letter detailing why you are interested in Neon.</li>
                <li>Link to your portfolio and/or GitHub account.</li>
                <li>R&eacute;sum&eacute; and/or LinkedIn link.</li>
                <li>What is your favourite <abbr title="HyperText Markup Language">HTML</abbr> tag (please mention a good reason).</li>
                <li>A two&ndash;minute hand drawn self portrait.</li>
            </ol>
            <p>No agencies, rockstars or ninjas please.</p>

            <hr class="divider" />
            <%= partial "partials/content/jobs/job-openings-logic" %>

        </div>
    </div>
</section>
