---
title: DevOps Engineer | Jobs
description:
layout: ramsay
classes: jobs
scripts:
  slides: false
  jump: false
sitemap: true
---
<section class="pinch-left pinch-right">
    <header class="page-columns">
        <div class="page-columns__verso">
            <div class="epsilon">San Francisco</div>
            <h1 class="alpha masthead">DevOps Engineer</h1>
        </div>
    </header>
    <div class="page-columns">
        <div class="page-columns__verso">
            <%= partial "partials/content/jobs/back-to-jobs" %>
        </div>
        <div class="page-columns__recto">
            
            <h2 class="beta">Description</h2>

            <p>Are you a Chef master who loves tinkering away in the kitchen to produce novel recipes with the power to set thousands of machines marching to your orders? As a DevOps engineer at Neon, you will be responsible for ensuring the serving infrastructure is more scalable than the Borg and as bulletproof as a wall of Kevlar. We like to sleep soundly, and we need your help.</p>
            <p>You will build solutions and tools that support Neon APIs, infrastructure services, and Neon analytics, enabling them to operate at scale. Neon&rsquo;s infrastructure is primarily based in AWS, uses Opsworks/Chef for deployment, and consists of both individual services and long&#45;running analytics clusters.</p>
            <p>At Neon, system stability is a team effort. This means all engineers strive to write stable and maintainable code, and share the responsibility of being &rsquo;on call&rsquo;.</p>

            <%= partial "partials/content/jobs/joining-our-team" %>

            <h2 class="beta">Requirements</h2>

            <ul>
                <li>3+ years of DevOps experience</li>
                <li>Expert in Chef and AWS infrastructure services</li>
                <li>Proven ability to identify and troubleshoot issues in complex systems</li>
                <li>Experience building infrastructure monitoring tools for high&#45;traffic sites and</li>
                <li>Experience managing large deployments</li>
            </ul>

            <h2 class="beta">Desired Skills</h2>

            <ul>
                <li>Reliability and automation are integral to the way you work</li>
                <li>Deep knowledge of Linux, SaaS security, Amazon Web Services</li>
                <li>Extensive experience using AWS, especially in a VPC/Multi&#45;Region/Colocation setting</li>
                <li>Experience monitoring and managing scalable clusters that handle tremendous load</li>
            </ul>

            <%= partial "partials/content/jobs/about-neon" %>

            <h2 class="beta">Benefits + Perks</h2>
            <%= partial "partials/content/jobs/benefits-and-perks-generic" %>
            <%= partial "partials/content/jobs/benefits-and-perks-permanent" %>

            <%= partial "partials/content/jobs/how-to-apply" %>

            <hr class="divider" />
            <%= partial "partials/content/jobs/job-openings-logic" %>

        </div>
    </div>
</section>
