---
title: About
description:
layout: layout
classes: about
d---

%main
  .l-constrained
    .section
      .columns
        .column.column__page-intro
          %h1.section__label
            About
          %h2.section__title
            Images Matter.
          %p Where will your images take you?
          = link_to('Learn more', '', class: 'link--cta')
        .column.column__main-content
          .image-container
            = image_tag('about/about-cmu.jpg', class: 'column__image')
          .section
            %h2.section__title Neon's History
            %p
              We started with a simple question: does every images evoke an emotional response? With this spirit of curiosity and inquiry, we’ve built Neon, based in San Francisco and founded on over ten years of research in the science labs of Brown University, Carnegie Mellon, and Massachusetts General Hospital. Through a process of research commercialization supported by the National Science Foundation and leading Silicon Valley venture capitalists, Neon has become the leading automated image management platform that can handle the billions of images uploaded online every day.
            %p
              Neon’s award-winning image management tools make visual content more valuable for leading online news, sports, entertainment media publishers, advertisers and marketers. We hold a number of patents and have won awards for our visionary technology and innovative team.
          .section--bordered
            .section.section--img
              = image_tag('images/about/about-infographic.svg', class: 'column__image mb-30')
              %h2.section__title Neon's Growth
              %p
                As the number of images online grows, Neon scales to handle them with our smart, science-based technology.
            .section
              %h2.section__title
                Awards + Patents
              %p
                Neon and our team have been recognized for innovation and we have consistently created patentable work.
              = link_to('Learn more', '', class: 'link--cta')
              .logo-grid
                .logo
                  = image_tag('images/about/logos/logo-fast-company.svg')
                .logo
                  = image_tag('images/about/logos/logo-WEF.svg')
                .logo.logo--nsf
                  = image_tag('images/about/logos/logo-NSF.svg')
                .logo
                  = image_tag('images/about/logos/logo-edison.png')
                .logo
                  = image_tag('images/about/logos/logo-streaming-media.svg')
            .section
              %h2.section__title
                Investors
              %p
                We select our investors as carefully as we craft our team. We’ve assembled a group of inspiring people who believe deeply in Neon’s mission, vision, and values. This group includes, Mohr Davidow Ventures, True Ventures, XSeed Capital, and Steve Blank.
              .logo-grid
                .logo
                  = image_tag('images/about/logos/logo-true.png')
                .logo
                  = image_tag('images/about/logos/logo-mdv.png')
                .logo
                  = image_tag('images/about/logos/logo-xseed.png')
